body {
    width: 992px;
    margin: auto;
    margin-left: 100px;
    margin-right: 10px;
    font-family: 'assets/font/Raleway-Thin.ttf', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

nav .header {
    display: flex;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'assets/font/Raleway-Thin.ttf', sans-serif;
    margin: 0;
}

nav .header li {
    flex: auto;
    float: left;
    padding: 30px;
}

nav .header li:hover {
    flex: auto;
    float: left;
    border-top: 2px solid blue;
}

.premier {
    font-size: large;
}

h3 {
    font-size: medium;
    font-weight: lighter;
    margin-left: 15px;
}

form {
    display: inline-block;
    font-size: 0px;
    align-items: center;
}

.fa-location-dot {
    font-size: 16px;
    margin-right: 0;
    padding-top: 17px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: 0;
    height: 50px;
    background-size: 50px;
    color: black;
}

.toolbar1 {
    height: 50px;
    margin-right: 0;
    width: 200px;
    font-size: 18px;
    border-style: solid;
    border-color: #F2F2F2;
}

.submit {
    font-size: 18px;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: 0;
    font-weight: bold;
    color: white;
    outline: none;
    margin-left: -1px;
    height: 49px;
    padding-right: 15px;
    padding-left: 15px;
}

.partiefiltre {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.partiefiltre h2 {
    font-size: 18px;
    margin-right: 30px;
    margin-top: 10px;
}

.listefiltre {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 0;
    justify-content: space-between;
}

.button {
    margin-left: 0px;
    margin-right: 30px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 18px;
    background-color: white;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 33px 30px 30px 33px;
    font-weight: bold;
}

.listefiltre i {
    position: absolute;
    font-size: 16px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 13px;
    border-width: inherit;
    border-radius: 33px;
    width: 41.98px;
}

@media screen and (max-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    img {
        margin: auto;
        margin-left: 45%;
        margin-bottom: 1%;
        align-items: center;
        display: flex;
        width: 200px;
    }
    nav .header {
        display: flex;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        font-family: 'assets/font/Raleway-Thin.ttf', sans-serif;
        margin: 0;
        flex-basis: 0;
    }
    nav .header li {
        display: flex;
        justify-content: none;
        flex: auto;
        float: left;
        padding: 30px;
        padding-right: 0;
        flex-basis: 0;
    }
    nav .header li:hover {
        flex: auto;
        float: left;
        border-bottom: 2px solid blue;
        padding-right: 0;
        flex-basis: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: auto;
        margin: 0;
    }
    header {
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
        flex-basis: 0;
    }
    img {
        margin: auto;
        margin-top: 30px;
        margin-left: 160px;
        margin-right: 0;
        align-items: center;
        display: flex;
        width: 130px;
    }
    nav .header {
        flex-direction: row !important;
        flex-wrap: nowrap;
        display: block;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        font-family: 'assets/font/Raleway-Thin.ttf', sans-serif;
        margin: 0;
    }
    nav .header li {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        float: left;
        padding: none;
        padding-right: 50px;
        padding-left: 50px;
        font-size: large;
        flex-basis: 0;
    }
    nav .header li:hover {
        flex-direction: row;
        flex-wrap: nowrap;
        flex: auto;
        float: left;
        border-top: none;
        border-bottom: 2px solid blue;
        padding-right: 50px;
        padding-left: 50px;
        flex-basis: 0;
    }
    .premier {
        font-size: x-large;
        margin-right: 15px;
        margin-left: 15px;
    }
    form i {
        font-size: 16px;
        margin-right: 0;
        margin-left: 15px;
        padding-top: 17px;
        padding-left: 19px;
        padding-right: 19px;
        background-color: #F2F2F2;
        border-radius: 10px 0px 0px 10px;
        border: 0;
        height: 50px;
        background-size: 50px;
        color: black;
    }
    .toolbar1 {
        height: 50px;
        margin-right: 0;
        width: 175px;
        font-size: 18px;
        border-style: solid;
        border-color: #F2F2F2;
    }
    .submit {
        display: none;
    }
    .fa-magnifying-glass {
        margin-left: -6px;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        background-color: #0065FC;
        color: white;
    }
    .partiefiltre {
        margin-left: 10px;
        margin-top: 30px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }
    h2 {
        padding-left: 15px;
    }
    .listefiltre {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .button {
        margin-left: 0px;
        margin-right: 30px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 18px;
        background-color: white;
        border-style: solid;
        border-color: #F2F2F2;
        border-radius: 33px 30px 30px 33px;
        font-weight: bold;
    }
}